* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
  
    width: 100vw;
    height: 100vh;
    background: url(./image/BG.png) 100% 100% no-repeat; 
    background-size: cover; 
  
}
p, 
a {
    font-size: 14px;
}
li {
    list-style-type: none; 
}
a {
    text-decoration: none;
    text-transform: uppercase
}
.wrapper {
    margin: 0 auto;
    width: 82vw;
    height: 100%;
    border: red solid 2px;
}
.header {
    height: 9vh;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: red solid 2px;
}
.header__logo-line {
width: 22px;
}
.navigation {
    width: 82vw;
    display: flex;
    justify-content: space-around;
    border: red solid 2px;
}
.main {
    height: 91vh;
}
.information {
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: red solid 2px;
}
.information__logo {
    width: 10vw;
    border: red solid 2px;

}
.information__img {
    width: 100%;
}
.image__answers {
    width: 3vw;
    border: red solid 2px;
}
.content {
    width: 53vw;
    height: 58vh;
    border: red solid 2px;
    display: flex;
    justify-content: space-around;
}

.content__form {
    border: red solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.content__basic {
    border: red solid 2px;
}
h1 {
    font-weight: normal;
}



//Popap
/* Стили для подложки */

.overlay {
   
   /* Скрываем подложку  */
   opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}


/* Стили для модальных окон */

.modal {
   
   /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;
   
   
   /*  Установаем ширину окна  */
   width: 100%;
   max-width: 550px;
   height: 600px;
   border-radius: 30px;
   
   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/
   
   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}
.colortext {
   color: orange;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

a {
   padding: 20px;
   display: inline-block;
   text-decoration: none;
   background-color: #414b52;
   margin: 10px;
   color: #fff;
   border-radius: 3px;
}


