* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
  
    width: 100vw;
    height: 100vh;
    background: url(./image/BG.png) 100% 100% no-repeat; 
    background-size: cover; 
  
}
p, 
a {
    font-size: 14px;
    color: black;
}
li {
    list-style-type: none; 
}
a {
    text-decoration: none;
 
}
.wrapper {
    margin: 0 auto;
    width: 82vw;
    height: 100%;
    border: red solid 2px;
}
.header {
    height: 9vh;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: red solid 2px;
}
.header__logo-line {
width: 22px;
}
.navigation {
    width: 82vw;
    display: flex;
    justify-content: space-around;
    border: red solid 2px;
}

.main {
    height: 91vh;
}

.information {
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: red solid 2px;
}

.information__description,
.information__worktime {
    border: red solid 2px;
    text-align: center;
}

.information__text {
    padding-bottom: 10px;
}

.information__worktime {
height: 80px;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;

}

.icon__pdf {
    /* position: absolute;
    left: 25.57%;
    right: 72.14%;
    top: 14.26%;
    bottom: 81.68%; */
    
    background: red;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 100px; 
}
.information__logo {
    width: 10vw;
    border: red solid 2px;

}
.information__img {
    width: 100%;
}
.image__answers {
    width: 3vw;
    border: red solid 2px;
}
.content {
    width: 53vw;
    height: 58vh;
    border: red solid 2px;
    display: flex;
    justify-content: space-around;
}

.content__form {
    border: red solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    width: 12vw;
}

.content__basic {
    border: red solid 2px;
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
   
}

h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 3vw;
/* line-height: 85px; */
}

.content__circle {
    border: red solid 2px;
    display: flex;
    /* justify-content: center; */
    text-align: center;
    /* margin-left: ; */
}

.circle {
    /* border: red solid 2px; */
    /* width: 6px;
    margin: 3px; */
    /* height: 5px; */
}
.button__container {
    border: red solid 2px;
    display: flex;
     justify-content: space-between;
}

.button_green {
    border-radius: 50px;
    width: 19vw;
    height: 100px;
    color: #fff;
    background: green;
    font-size: 14px;
}
.button_orange {
    border-radius: 50px;
    width: 17vw;
    height: 100px;
    color: #fff;
    font-size: 14px;
    background: orange;
}

.button_green:hover,
.button_orange:hover {

}

.content__questions{
    border: red solid 2px;
}




/* Popap */
/* Стили для подложки */

.overlay {
   
   /* Скрываем подложку  */
   opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}
.popap__message {
  position: absolute;
  opacity: 0;
   visibility: hidden;
  background-color: black;
  width: 10vw;
  height: 2vw;
  z-index: 20;
  top: 50%;
  left: 50%;
  text-align: center;

}
.message {
    
    color: #fff;  
}


/* Стили для модальных окон */

.modal {
   
   /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;
   
   
   /*  Установаем ширину окна  */
   width: 100%;
   max-width: 550px;
   height: 600px;
   border-radius: 30px;
   
   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/
   
   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}
.colortext {
   color: orange;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
   opacity: 1;
   visibility: visible;
}

.popap__message.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   /* fill: #444; */
   cursor: pointer;
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

/* a {
   padding: 20px;
   display: inline-block;
   text-decoration: none;
   background-color: #414b52;
   margin: 10px;
   color: #fff;
   border-radius: 3px;
} */




/* Пульсация */
.pulse {
	margin:100px;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #cca92c;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
	animation: pulse 2s infinite;
}

.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}


/* Burger menu */

header {
	display: flex;
	justify-content: flex-end;
}


/* Гамбургер иконка */
.menu-btn {
    display: none;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
	padding: 15px;
   /* background: #FFEFBA; */
	transform: translateX(100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}







