* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./image/BG.png) 100% 100% no-repeat; 
    background-size: cover; 
  }

p, 
a {
    font-size: 1vw;
    color: black;
}

li {
    list-style-type: none; 
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    width: 82vw;
    height: 100%;  
}

.header {
    height: 9vh;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.header__logo-line {
    width: 22px;
}

.navigation {
    width: 82vw;
    display: flex;
    justify-content: space-around; 
}

.main {
    height: 91vh;
}

.information {
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.information__description,
.information__worktime {  
    text-align: center;
}

.information__text {
    padding-bottom: 10px;
}

.information__worktime {
height: 80px;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;
}

.information__answers {
    text-align: center; 
}

.icon__mesenger {
    display: flex;
    justify-content: space-around;
    width: 12vw;
    height: 6vh;  
}

.viber {
    background: #976FCC;
    border-radius: 50%;
    width: 3vw;    
    text-align: center; 
    padding: 0.5vw;
}

.watsap {
    background: #12C868;
    border-radius: 50%;
    width: 3vw;
    height: 5.5vh;
    text-align: center; 
    padding: 0.5vw;
}

.telegram {
    background: #05A0EB;
    border-radius: 50%;
    height: 5.5vh;
    text-align: center; 
    padding: 0.7vw;
}

.icon__pdf {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 100px; 
}

.information__logo {
    width: 10vw;
}

.information__img {
    width: 100%;
}

.content {
    width: 53vw;
    height: 58vh;
    display: flex;
    justify-content: space-around;
}

.content__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    width: 12vw;
}

.content__basic {
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;   
}

h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 3vw;
}

h4 {
    font-size: 2vw;
    font-weight: normal;
}

.content__circle {   
    display: flex;
    justify-content: center;
    text-align: center;
    width: 28vw;
}

.circle {
    width: 0.7vw;
    padding-top: 0.5vw;
    padding-right: 0.3vw;
}

.button__container {
    display: flex;
     justify-content: space-between;
}

.button_green {
    border-radius: 50px;
    width: 19vw;
    height: 9vh;
    color: #fff;
    background: green;
    font-size: 14px;
    border: 0;
}

.button_orange {
    border-radius: 50px;
    width: 17vw;
    height: 9vh;
    color: #fff;
    font-size: 14px;
    background: orange;
    border: 0;
}

.button_orange:hover {
    box-shadow: 3px 3px orange, -1em 0 .4em orange
}

.button_green:hover {
    box-shadow: 3px 3px green, -1em 0 .4em green 
}

.content__arm_questions {  
    display: flex;
    justify-content: space-around;
    width: 18vw;
}

.armImpuls {
     position: absolute;
     left: 24vw;
}

.arm {
    position: absolute;
     left: 24.1vw; 
}

.content__questions{
    width: 14vw;
}


/* Popap */

.overlay {  
   opacity: 0;
   visibility: hidden; 
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}

.popap__message {
  position: absolute;
  opacity: 0;
   visibility: hidden;
  background-color:#F38120 ;
  width: 25vw;
  height: 5vw;
  z-index: 20;
  top: 45%;
  left: 45%;
  padding-top: 1vw;
  text-align: center;
}

.message {
    font-size: 2vw;
    color: #fff;  
}

/* Стили для модальных окон */

.modal { 
   opacity: 0;
   visibility: hidden;  
   width: 28vw;
   height: 34vw;
   border-radius: 50px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30;   
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;   
}

.modal__title {   
    font-size: 1.3vw;
}

.number {   
    border-radius: 3vw;
    height: 5vw;
    width: 22vw;
    text-align: center;
}
.button__to-send {
       border-radius: 3vw;
    height: 5vw;
    width: 22vw;
    background:#F38120;
    color: #fff;
    font-size: 1.2vw;
}

.colortext {
   color: orange;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
   opacity: 1;
   visibility: visible;
}

.popap__message.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #A0A0A0;
   cursor: pointer;
}

/* Burger menu */

header {
	display: flex;
	justify-content: flex-end;
}

/* Гамбургер иконка */

.menu-btn {
    display: none;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */

.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
        background: #EDF2F5;
	transform: translateX(100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .header,
    .information__description,
    .information__price, 
    .information__answers {
        display: none;
    }

    .information__logo {
        width: 75px;
        position: absolute;
        top: 2px;
        left: 15px;
    }

    .information__worktime {
        width: 150px;
        font-size: 14px;
        position: absolute;
        top: 2px;
        left: 105px;
    }

    a,
    p {
        font-size: 14px;
    }

    .menu-btn {
        position: absolute;
       
        display: block;
        top: 5px;
    }
	
    .content__form {
        position: absolute;
        top: 550px;
        left:15%;
        width: 225px;
        height: 367px;     
    }

    .content__basic {
    position: absolute;
        width: 276px;
        height: 324px;
        top: 100px;
        left: 20px; 
    }
    
    h1 { 
        position: absolute;
        top: 0;
        width: 275px;
        height: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;  
    }
	
    h4 {
        font-size: 16px;
        font-weight: normal; 
    }
     
    .content__circle {   
        position: absolute;
        top: 95px;
        width: 275px;
        height: 18px;
    }
    
    .circle { 
        width:4vw;
        padding-top: 2vw;
        padding-right: 1vw;
    }
	
    .button__container {
        display: block;
        position: absolute;
        top: 205px;
        height: 130px;
    }
    
    .button_green {
        border-radius: 50px;
        width: 276px;
        height: 60px;
        color: #fff;
        background: green;
        font-size: 14px;
        border: 0;
        margin-bottom: 5px;
    }
	
    .button_orange {
        border-radius: 50px;
        width: 276px;
        height: 60px;
        color: #fff;
        font-size: 14px;
        background: orange;
        border: 0;
    } 
    
    .content__arm_questions {
     position: absolute;
     top: 117px;
     width: 275px;
    }
    
    .armImpuls {
         position: absolute;
         left: 133px;
         top: 5px;
    }
    
    .arm {
        position: absolute;
        top: 5px;
         left: 135px; 
    }
    
    .content__questions{
      font-size: 12px;
        width: 275px;
        position: absolute;
        top: 25px;
    }

    /* Пульсация */
	
.pulse {
    z-index: 200;
    border: red solid 2px;
	/* margin:100px; */
    position: absolute;
    left: 240px;
    bottom: 80px;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #cca92c;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
	animation: pulse 2s infinite;
}

.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}



}




